.hero {
  position: relative;
  max-height: 1000px;
  max-width: 100%;
}

.cloud {
  height: 7rem;
  position: relative;
}

.top {
  left: 70%;
}

.bottom {
  left: 20%;
}

.title-text {
  text-align: center;
  color: var(--new-900);
}

h1 {
  font-size: 4rem;
}

.title-text h2 {
  font-size: 2rem;
}

.title-text span {
  text-decoration: underline;
}

.mount {
  display: flex;
  justify-content: center;
}

.mountain {
  position: relative;
  max-width: 100%;
}

@media (max-width: 600px) {
  .top {
    left: 60%;
  }

  .bottom {
    left: 10%;
  }

  h1 {
    font-size: 3rem;
  }

  .title-text h2 {
    font-size: 1.25rem;
  }
}
