.introduction {
  margin: 0 2rem;
  background-color: var(--new-200);
  border-radius: 15px;
}

.top-intro {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 1rem;
}

.profile-pic {
  display: flex;
  justify-content: right;
}

.profile-pic img {
  min-width: max-content;
  margin-top: 20px;
}

.intro {
  padding: 1.5rem;
  /* padding-right: 3rem; */
  text-align: justify;
}

.intro p {
  margin-top: 1.5rem;
  color: var(--new-900);
}

.intro span {
  font-weight: bold;
}

.tech-title {
  grid-column: span 2;
  text-align: center;
  font-size: 2rem;
  margin: 1rem auto;
  align-self: center;
  color: var(--new-900);
}

.tech-stack {
  grid-column: span 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
}

.skill {
  padding: 0.5rem;
  border-radius: 10px;
  width: 10ch;
  text-align: center;
  background-color: var(--new-600);
  color: var(--new-100);
}

@media (max-width: 1000px) {
  .profile-pic {
    align-items: center;
  }
  .profile-pic img {
    height: max-content;
    margin-left: 20px;
  }
}

@media (max-width: 600px) {
  .top-intro {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.5rem;
  }
  
  .profile-pic {
    display: flex;
    justify-content: center;
  }
}